body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    min-height: 100%;
    background-color: #f7f7ff;
    font-weight: 300;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
}

::selection {
    background: #4abdac;
    color: #fff;
}

html {
    box-sizing: border-box;
}

header {
    background-color: #f7f7ff;
    width: 100%;
    text-align: center;
    display: inline-block;
}

h1 {
    font-size: 50px;
    color: #4abdac;
}

h2 {
    font-family: 'Didact Gothic', sans-serif;
    color: #4abdac;
}

h3 {
    font-family: 'Didact Gothic', sans-serif;
    color: #60656f;
}

p {
    font-size: 15px;
    color: #60656f;
}

.col-sm-4 {
    /*padding-top: 10%;*/
}

a.vkAutorise {
    color: #5E81A8;
    background-color: transparent;
    border: 1px #5E81A8;
    text-align: center;
    width: inherit;
    padding-right: 10%;
    padding-left: 10%;
}

a.vkAutorise i.fa-vk {
    margin-right: 10px;
}

a.vkButton {
    border: 2px solid #5E81A8;
}

a.finish {
    border: 2px solid #4abdac;
}

a.vkButton, a.finish {
    font-size: 20px;
    text-decoration: none;
    padding: 10px 25px 10px 25px;
    border-radius: 25px;
}

a.finish:hover {
    color: #f7f7ff;
    background-color: #4abdac;
}

a.vkButton:hover {
    color: #f7f7ff;
    background-color: #5E81A8;

}

footer {
    position: relative;
    text-align: center;
    width: 100%;
    bottom: 0;
    padding: 1rem;
}

.form {
    font-family: 'Didact Gothic', sans-serif;
    color: #4abdac;
}

.logo {
    padding: 20px;
}

.positions-form {
    max-width: 300px;
    border-radius: 5px;
    display: block;
    width: 100%;
    margin: 0 auto;
}

.main-pos-form {
    position: relative;
    margin: 10px 0;
}

.main-pos-form:first-of-type {
    margin-top: 0;
}

.main-pos-form:last-of-type {
    margin-bottom: 0;
}

.positions-form .form-control {
    border: 0;
    box-shadow: 0 0 0;
    border-radius: 0;
    background: transparent;
    color: #555555;
    padding: 7px 0;
    /*font-weight: bold;*/
    height: auto;
}

.positions-form .form-control::-webkit-input-placeholder {
    color: #999999;
}

.positions-form .form-control:-moz-placeholder,
.positions-form .form-control::-moz-placeholder,
.positions-form .form-control:-ms-input-placeholder {
    color: #999999;
}

.positions-form .form-group {
    margin-bottom: 0;
    border-bottom: 2px solid #efefef;
    padding-right: 20px;
    position: relative;
}

.positions-form .form-group:last-child {
    border-bottom: 0;
}

.positions-group {
    background: #ffffff;
    color: #999999;
    border-radius: 8px;
    padding: 10px 20px;
}

.login-group-checkbox {
    padding: 5px 0;
}

/*=== Login Button ===*/
.positions-form .login-button {
    position: absolute;
    right: -25px;
    top: 50%;
    background: #ffffff;
    color: #999999;
    padding: 11px 0;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    border: 5px solid #efefef;
    border-radius: 50%;
    transition: all ease-in-out 500ms;
    outline: none;
}

.positions-form .rotate-button:hover {
    color: #555555;
    transform: rotate(450deg);
}

.positions-form .rotated {
    transform: rotate(450deg);
}

.positions-form .submit-button:hover {
    transform: rotate(360deg);
}

.positions-form .login-button.clicked {
    color: #555555;
}

.positions-form .login-button.clicked:hover {
    transform: none;
}

.positions-form .login-button.clicked.success {
    color: #4abdac;
}

.positions-form .login-button.clicked.error {
    color: #e74c3c;
}

.placesList {
    height: 100%;
}

.place .description {
    height: inherit;
}


.map-wrapper, .places-list-wrapper {
    height: 100vh;
}

.form-page .positions-form .step-2, .form-page .positions-form .step-3 {
    display: none;
}

.positions-form .category-wrapper {
    padding: 5px 10px 5px 0;
    display: inline-block;
    font-weight: 600;
}

.positions-form .category-wrapper label {
    font-weight: 300;
}

.positions-form .category-wrapper input, .positions-form .time-wrapper input {
    margin-right: 5px;
    outline: none;
}

.places-list-wrapper {
    padding-top: 20px;
}

.placesList {
    height: 100%;
}

.place .description {
    height: inherit;
}

.map-wrapper, .places-list-wrapper {
    height: 100vh;
}

#map {
    height: 100%;
}

.fa-thumbs-up {
    padding-right: 20px;
}

.fa-thumbs-down:hover, .fa-thumbs-up:hover {
    transition: 0.5s;
    font-size: 40px;
}

.places-grade-wrapper {
    padding-top: 20px;
}

.gradePlace .gradePicture .gradeDescription {
    height: inherit;
}

.gradePlace .gradePicture {
    float: left;
}

.gradePlace .gradeButtons {
    font-size: 35px;
    float: right;
}

.gradePlace, .place {
    width: 100%;
    height: 100px;
    border: 0;
    box-shadow: 0 0 0;
    background: #ffffff;
    color: #60656f;
    border-radius: 8px;
    padding: 10px 20px;
}

img {
    object-fit: cover;
    width: 80px;
    height: 80px;
}